<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/SRC/Components/style.scss">
    <link rel="stylesheet" href="style.css">
    <title>دیوار تهران و کرج - نیازمندی‌ های رایگان، آگهی‌های خرید، فروش نو و دست دوم و کارکرده، استخدام و خدمات</title>
</head>
<body>
    <header>
        <div class="right_section">
            <div class="logo"><img src="/assets/pictures/logo.svg" alt=""></div>
            <div class="location"> <a href="#">تهران</a> </div>
            <div class="categories_button"> <a href="#">دسته‌ها</a> </div>
            <div class="search_box_container"> <input class="search_box" type="text" placeholder="جستجو در همه آگهی ها"> </div>
        </div>
        <div class="left_section">
            <div class="my_divar"> <a href="#">دیوار من</a> </div>
            <div class="chat"> <a href="#"> چت </a> </div>
            <div class="support"> <a href="#">پشتیبانی</a> </div>
            <div class="ad_submit"> <a href="#">ثبت آگهی</a> </div>
        </div>
    </header>
    <div class="main_container">
        <div class="content_container">
            <div class="advertising_container">
                <h1>دیوار تهران:‌ انواع آگهی‌ها و خدمات در تهران</h1>
                <div class="card_wrapper">
                    <article class="card">
                        <div class="card_body">
                            <figure><img class="card_image" src="/assets/pictures/bmw.jpg" alt=""></figure>
                            <div class="card_details">
                                <div class="card_title">بی ام و ۵۳۰ مدل ۲۰۱۸</div>
                                <div class="card_price">۵,۰۰۰,۰۰۰,۰۰۰ تومان</div>
                                <div class="card_authur">نمایشگاه در پاسداران</div>
                            </div>
                        </div>
                    </article>
                    <article class="card">
                        <div class="card_body">
                            <figure><img class="card_image" src="/assets/pictures/bmw.jpg" alt=""></figure>
                            <div class="card_details">
                                <div class="card_title">بی ام و ۵۳۰ مدل ۲۰۱۸</div>
                                <div class="card_price">۵,۰۰۰,۰۰۰,۰۰۰ تومان</div>
                                <div class="card_authur">نمایشگاه در پاسداران</div>
                            </div>
                        </div>
                    </article>
                    <article class="card">
                        <div class="card_body">
                            <figure><img class="card_image" src="/assets/pictures/bmw.jpg" alt=""></figure>
                            <div class="card_details">
                                <div class="card_title">بی ام و ۵۳۰ مدل ۲۰۱۸</div>
                                <div class="card_price">۵,۰۰۰,۰۰۰,۰۰۰ تومان</div>
                                <div class="card_authur">نمایشگاه در پاسداران</div>
                            </div>
                        </div>
                    </article>
                    <article class="card">
                        <div class="card_body">
                            <figure><img class="card_image" src="/assets/pictures/bmw.jpg" alt=""></figure>
                            <div class="card_details">
                                <div class="card_title">بی ام و ۵۳۰ مدل ۲۰۱۸</div>
                                <div class="card_price">۵,۰۰۰,۰۰۰,۰۰۰ تومان</div>
                                <div class="card_authur">نمایشگاه در پاسداران</div>
                            </div>
                        </div>
                    </article>
                    <article class="card">
                        <div class="card_body">
                            <figure><img class="card_image" src="/assets/pictures/bmw.jpg" alt=""></figure>
                            <div class="card_details">
                                <div class="card_title">بی ام و ۵۳۰ مدل ۲۰۱۸</div>
                                <div class="card_price">۵,۰۰۰,۰۰۰,۰۰۰ تومان</div>
                                <div class="card_authur">نمایشگاه در پاسداران</div>
                            </div>
                        </div>
                    </article>
                    <article class="card">
                        <div class="card_body">
                            <figure><img class="card_image" src="/assets/pictures/bmw.jpg" alt=""></figure>
                            <div class="card_details">
                                <div class="card_title">بی ام و ۵۳۰ مدل ۲۰۱۸</div>
                                <div class="card_price">۵,۰۰۰,۰۰۰,۰۰۰ تومان</div>
                                <div class="card_authur">نمایشگاه در پاسداران</div>
                            </div>
                        </div>
                    </article>
                    <article class="card">
                        <div class="card_body">
                            <figure><img class="card_image" src="/assets/pictures/bmw.jpg" alt=""></figure>
                            <div class="card_details">
                                <div class="card_title">بی ام و ۵۳۰ مدل ۲۰۱۸</div>
                                <div class="card_price">۵,۰۰۰,۰۰۰,۰۰۰ تومان</div>
                                <div class="card_authur">نمایشگاه در پاسداران</div>
                            </div>
                        </div>
                    </article>
                    <article class="card">
                        <div class="card_body">
                            <figure><img class="card_image" src="/assets/pictures/bmw.jpg" alt=""></figure>
                            <div class="card_details">
                                <div class="card_title">بی ام و ۵۳۰ مدل ۲۰۱۸</div>
                                <div class="card_price">۵,۰۰۰,۰۰۰,۰۰۰ تومان</div>
                                <div class="card_authur">نمایشگاه در پاسداران</div>
                            </div>
                        </div>
                    </article>
                    <article class="card">
                        <div class="card_body">
                            <figure><img class="card_image" src="/assets/pictures/bmw.jpg" alt=""></figure>
                            <div class="card_details">
                                <div class="card_title">بی ام و ۵۳۰ مدل ۲۰۱۸</div>
                                <div class="card_price">۵,۰۰۰,۰۰۰,۰۰۰ تومان</div>
                                <div class="card_authur">نمایشگاه در پاسداران</div>
                            </div>
                        </div>
                    </article>
                    <article class="card">
                        <div class="card_body">
                            <figure><img class="card_image" src="/assets/pictures/bmw.jpg" alt=""></figure>
                            <div class="card_details">
                                <div class="card_title">بی ام و ۵۳۰ مدل ۲۰۱۸</div>
                                <div class="card_price">۵,۰۰۰,۰۰۰,۰۰۰ تومان</div>
                                <div class="card_authur">نمایشگاه در پاسداران</div>
                            </div>
                        </div>
                    </article>
                    <article class="card">
                        <div class="card_body">
                            <figure><img class="card_image" src="/assets/pictures/bmw.jpg" alt=""></figure>
                            <div class="card_details">
                                <div class="card_title">بی ام و ۵۳۰ مدل ۲۰۱۸</div>
                                <div class="card_price">۵,۰۰۰,۰۰۰,۰۰۰ تومان</div>
                                <div class="card_authur">نمایشگاه در پاسداران</div>
                            </div>
                        </div>
                    </article>
                    <article class="card">
                        <div class="card_body">
                            <figure><img class="card_image" src="/assets/pictures/bmw.jpg" alt=""></figure>
                            <div class="card_details">
                                <div class="card_title">بی ام و ۵۳۰ مدل ۲۰۱۸</div>
                                <div class="card_price">۵,۰۰۰,۰۰۰,۰۰۰ تومان</div>
                                <div class="card_authur">نمایشگاه در پاسداران</div>
                            </div>
                        </div>
                    </article>
                    <article class="card">
                        <div class="card_body">
                            <figure><img class="card_image" src="/assets/pictures/bmw.jpg" alt=""></figure>
                            <div class="card_details">
                                <div class="card_title">بی ام و ۵۳۰ مدل ۲۰۱۸</div>
                                <div class="card_price">۵,۰۰۰,۰۰۰,۰۰۰ تومان</div>
                                <div class="card_authur">نمایشگاه در پاسداران</div>
                            </div>
                        </div>
                    </article>
                    <article class="card">
                        <div class="card_body">
                            <figure><img class="card_image" src="/assets/pictures/bmw.jpg" alt=""></figure>
                            <div class="card_details">
                                <div class="card_title">بی ام و ۵۳۰ مدل ۲۰۱۸</div>
                                <div class="card_price">۵,۰۰۰,۰۰۰,۰۰۰ تومان</div>
                                <div class="card_authur">نمایشگاه در پاسداران</div>
                            </div>
                        </div>
                    </article>
                    <article class="card">
                        <div class="card_body">
                            <figure><img class="card_image" src="/assets/pictures/bmw.jpg" alt=""></figure>
                            <div class="card_details">
                                <div class="card_title">بی ام و ۵۳۰ مدل ۲۰۱۸</div>
                                <div class="card_price">۵,۰۰۰,۰۰۰,۰۰۰ تومان</div>
                                <div class="card_authur">نمایشگاه در پاسداران</div>
                            </div>
                        </div>
                    </article>
                    <article class="card">
                        <div class="card_body">
                            <figure><img class="card_image" src="/assets/pictures/bmw.jpg" alt=""></figure>
                            <div class="card_details">
                                <div class="card_title">بی ام و ۵۳۰ مدل ۲۰۱۸</div>
                                <div class="card_price">۵,۰۰۰,۰۰۰,۰۰۰ تومان</div>
                                <div class="card_authur">نمایشگاه در پاسداران</div>
                            </div>
                        </div>
                    </article>
                    <article class="card">
                        <div class="card_body">
                            <figure><img class="card_image" src="/assets/pictures/bmw.jpg" alt=""></figure>
                            <div class="card_details">
                                <div class="card_title">بی ام و ۵۳۰ مدل ۲۰۱۸</div>
                                <div class="card_price">۵,۰۰۰,۰۰۰,۰۰۰ تومان</div>
                                <div class="card_authur">نمایشگاه در پاسداران</div>
                            </div>
                        </div>
                    </article>
                    <article class="card">
                        <div class="card_body">
                            <figure><img class="card_image" src="/assets/pictures/bmw.jpg" alt=""></figure>
                            <div class="card_details">
                                <div class="card_title">بی ام و ۵۳۰ مدل ۲۰۱۸</div>
                                <div class="card_price">۵,۰۰۰,۰۰۰,۰۰۰ تومان</div>
                                <div class="card_authur">نمایشگاه در پاسداران</div>
                            </div>
                        </div>
                    </article>
                    <article class="card">
                        <div class="card_body">
                            <figure><img class="card_image" src="/assets/pictures/bmw.jpg" alt=""></figure>
                            <div class="card_details">
                                <div class="card_title">بی ام و ۵۳۰ مدل ۲۰۱۸</div>
                                <div class="card_price">۵,۰۰۰,۰۰۰,۰۰۰ تومان</div>
                                <div class="card_authur">نمایشگاه در پاسداران</div>
                            </div>
                        </div>
                    </article>
                    <article class="card">
                        <div class="card_body">
                            <figure><img class="card_image" src="/assets/pictures/bmw.jpg" alt=""></figure>
                            <div class="card_details">
                                <div class="card_title">بی ام و ۵۳۰ مدل ۲۰۱۸</div>
                                <div class="card_price">۵,۰۰۰,۰۰۰,۰۰۰ تومان</div>
                                <div class="card_authur">نمایشگاه در پاسداران</div>
                            </div>
                        </div>
                    </article>
                    <article class="card">
                        <div class="card_body">
                            <figure><img class="card_image" src="/assets/pictures/bmw.jpg" alt=""></figure>
                            <div class="card_details">
                                <div class="card_title">بی ام و ۵۳۰ مدل ۲۰۱۸</div>
                                <div class="card_price">۵,۰۰۰,۰۰۰,۰۰۰ تومان</div>
                                <div class="card_authur">نمایشگاه در پاسداران</div>
                            </div>
                        </div>
                    </article>
                    <article class="card">
                        <div class="card_body">
                            <figure><img class="card_image" src="/assets/pictures/bmw.jpg" alt=""></figure>
                            <div class="card_details">
                                <div class="card_title">بی ام و ۵۳۰ مدل ۲۰۱۸</div>
                                <div class="card_price">۵,۰۰۰,۰۰۰,۰۰۰ تومان</div>
                                <div class="card_authur">نمایشگاه در پاسداران</div>
                            </div>
                        </div>
                    </article>
                    <article class="card">
                        <div class="card_body">
                            <figure><img class="card_image" src="/assets/pictures/bmw.jpg" alt=""></figure>
                            <div class="card_details">
                                <div class="card_title">بی ام و ۵۳۰ مدل ۲۰۱۸</div>
                                <div class="card_price">۵,۰۰۰,۰۰۰,۰۰۰ تومان</div>
                                <div class="card_authur">نمایشگاه در پاسداران</div>
                            </div>
                        </div>
                    </article>
                    <article class="card">
                        <div class="card_body">
                            <figure><img class="card_image" src="/assets/pictures/bmw.jpg" alt=""></figure>
                            <div class="card_details">
                                <div class="card_title">بی ام و ۵۳۰ مدل ۲۰۱۸</div>
                                <div class="card_price">۵,۰۰۰,۰۰۰,۰۰۰ تومان</div>
                                <div class="card_authur">نمایشگاه در پاسداران</div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="sidebar_container">
                <div class="category_container">
                    <h2>دسته‌ها</h2>
                    <ul>
                        <li> <a href="">املاک</a> </li>
                        <li> <a href="">وسایل نقلیه</a> </li>
                        <li> <a href="">کالای دیجیتال</a> </li>
                        <li> <a href="">خانه و آشپزخانه</a> </li>
                        <li> <a href="">خدمات</a> </li>
                        <li> <a href="">وسایل شخصی</a> </li>
                        <li> <a href="">سرگرمی و فراغت</a> </li>
                        <li> <a href="">اجتماعی</a> </li>
                        <li> <a href="">تجهیزات و صنعتی</a> </li>
                        <li> <a href="">استخدام و کاریابی</a> </li>
                    </ul>
                </div>
                <div class="subcategory_container">
                    <div class="subcategory_items"><a href="#"> محل </a></div>
                    <div class="subcategory_items"><a href="#"> قیمت </a></div>
                    <div class="subcategory_items"><a href="#"> وضعیت آگهی </a></div>
                </div>
                <div class="links_container">
                    <div class="about_divar">
                        <a href="">درباره دیوار</a>
                        <a href="">دریافت برنامه</a>
                        <a href="">بلاگ دیوار</a>
                        <a href="">پشتیبانی</a>
                    </div>
                    <div class="social_medias">
                        <div class="socialmedia_logo"> <img src="/assets/pictures/twitter.svg" alt=""> </div>
                        <div class="socialmedia_logo"> <img src="/assets/pictures/instagram.svg" alt=""> </div>
                        <div class="socialmedia_logo"> <img src="/assets/pictures/linkedin.svg" alt=""> </div>
                        <div class="socialmedia_logo"> <img src="/assets/pictures/aparat.svg" alt=""> </div>
                    </div>
                    <div class="trust_certificate">
                        <div class="certificates_logo"> <img src="/assets/pictures/enamad.png" alt=""> </div>
                        <div class="certificates_logo"> <img src="/assets/pictures/etehadiye.png" alt=""> </div>
                        <div class="certificates_logo"> <img src="/assets/pictures/samandehi.png" alt=""> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>