@font-face {
  font-family: iran_sans;
  src: url(/assets/fonts/IRANSansWeb.woff2);
}
* {
  font-family: iran_sans;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 25px;
  border-bottom: solid 1px #dcdcdc;
}
header a {
  text-decoration: none;
  color: #808080;
}

.main_container {
  display: flex;
  justify-content: center;
}

.content_container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 1440px;
}

.card {
  height: 184px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #dcdcdc;
}

.advertising_container {
  width: 100%;
}
.advertising_container h1 {
  text-align: left;
  font-size: 13px;
  font-weight: 100;
  color: #808080;
}

.card_wrapper {
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px #dcdcdc;
  gap: 10px;
}

.card_image {
  width: 152px;
  height: 152px;
  border-radius: 5px;
  position: relative;
  right: 25px;
}

.card_body {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.card_details {
  display: flex;
  flex-direction: column;
  padding: 10px 8px 16px 0;
}
.card_details .card_title {
  flex-grow: 1;
}
.card_details .card_price {
  justify-content: flex-end;
  font-size: 14px;
  color: #808080;
}
.card_details .card_authur {
  font-size: 12px;
  color: #808080;
}

.sidebar_container {
  margin-left: 20px;
  width: 15%;
}

.category_container {
  border-bottom: solid 1px #dcdcdc;
}
.category_container h2 {
  font-size: 13px;
  font-weight: 100;
  color: #808080;
}
.category_container ul {
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
.category_container li {
  margin: 20px 0;
  font-weight: 100;
}
.category_container a {
  text-decoration: none;
  color: #808080;
}

.subcategory_items {
  padding: 20px 0;
  border-bottom: solid 1px #dcdcdc;
}
.subcategory_items a {
  font-size: 15px;
  text-decoration: none;
  color: #808080;
}

.right_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.left_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.logo {
  border-left: solid 1px #dcdcdc;
  padding-left: 15px;
}
.logo img {
  width: 48px;
  height: 48px;
}

.search_box {
  width: 500px;
  height: 40px;
  font-size: 14px;
  font-weight: 100;
  padding: 0 10px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.04);
  border: none;
}

.ad_submit {
  background-color: #a62626;
  padding: 9px 13px;
  border-radius: 5px;
}
.ad_submit a {
  color: white;
}

.about_divar {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 25px;
}
.about_divar a {
  text-decoration: none;
  color: #808080;
  font-size: 12px;
  font-weight: 100;
}

.social_medias {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
}

.socialmedia_logo img {
  width: 20px;
  height: 20px;
}

.trust_certificate {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.certificates_logo img {
  width: 80px;
  height: 90px;
}/*# sourceMappingURL=style.css.map */